<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <nav>
        <a href="/Incomes"><button>Add Income</button></a>
        <a href="/report"><button>See Report</button></a>
    </nav>
    <ul>
        <h1>Expenses</h1>
        <%let sum=0;%>
        <% for(let i of ShopingList){ %>
            <li style="list-style-type: none">
                <div class="item_details">
                    <p class="it"><b><%=i.item%> (<%=i.quantity%>)</b></p>
                    <p class="it">Price per unit : <b><%=i.price%></b> </p>
                    <% if(isNaN(i.quantity)){%>
                        <p>HHHHHHH</p>
                        <p class="it">Total Price : <b><%=parseInt(i.price)%></b> </p>
                        <% sum=sum+parseInt(i.price) %>
                    <%}else{%>
                        <p class="it">Total Price : <b><%=parseInt(i.price)*parseInt(i.quantity)%></b> </p>
                        <% sum=sum+parseInt(i.price)*parseInt(i.quantity) %>
                    <%}%>
                    
                    
                    <a href="/delete-item/?id=<%=i.id%>" ><button class="delt_but">Remove item</button></a>
                </div>
            </li>
        <% } %>
        <p>Total-expenses : <b><%=sum%></b></p>
        <form action="/add-item" method="POST">
            <div class="inputs">
                <input class="input_but" type="text" name="item" placeholder="Item name" required>
                <input type="number" class="input_but" type="text" name="price" placeholder="Price per unit" required>
                <input type="number" class="input_but" type="text" name="quantity" placeholder="Quantity" value="1" >
                <button type="submit">Add</button>
            </div>
        </form>
    </ul>
</body>
</html>